<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	    
        <property name="hibernate.connection.datasource">java:comp/env/connectSQLServerConn/OrderSystem</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		
		<property name="hibernate.current_session_context_class">thread</property>
		
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<mapping class="com.ProFit.model.House"/>
		
		<mapping class="com.ProFit.bean.coursesBean.CourseBean"/>
		<mapping class="com.ProFit.bean.usersBean.Users"/>
		
		
		 
		<mapping class="com.ProFit.bean.collectionsBean.CollectionBean"/>
		<mapping class="com.ProFit.bean.collectionsBean.ImageBean"/>
		<mapping class="com.ProFit.bean.collectionsBean.VideoBean"/>
		 
		<mapping class="com.ProFit.bean.servicesBean.ServiceBean"/>
		<mapping class="com.ProFit.bean.majorsBean.MajorCategoryBean"/>
		<mapping class="com.ProFit.bean.majorsBean.MajorBean"/>
		<mapping class="com.ProFit.bean.majorsBean.UserMajorBean"/>
		
		
		<mapping class="com.ProFit.bean.coursesBean.CourseGradeContentBean"/>
		<mapping class="com.ProFit.bean.coursesBean.CourseModuleBean"/>
		<mapping class="com.ProFit.bean.coursesBean.CourseLessonBean"/>
		<mapping class="com.ProFit.bean.coursesBean.CourseOrderBean"/>
		
		<mapping class="com.ProFit.bean.usersBean.Users"/>
		
		
		
	</session-factory>
</hibernate-configuration> 